USE [master]
GO
/****** Object:  Database [Tp06_Barg]    Script Date: 16/9/2026 14:31:19 ******/
CREATE DATABASE [Tp06_Barg]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Tp06_Barg', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Tp06_Barg.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Tp06_Barg_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Tp06_Barg_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Tp06_Barg].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Tp06_Barg]
GO
/****** Object:  User [alumno]    Script Date: 16/9/2026 14:31:19 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Partidas]    Script Date: 16/9/2026 14:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partidas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idUsuarios] [int] NOT NULL,
	[idSalaActual] [int] NOT NULL,
	[estado] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Partidas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salas]    Script Date: 16/9/2026 14:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salas](
	[id] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[solucion] [varchar](50) NULL,
	[pista] [varchar](100) NULL,
	[imagen] [varchar](50) NULL,
 CONSTRAINT [PK_Salas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 16/9/2026 14:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Partidas] ON 

INSERT [dbo].[Partidas] ([id], [idUsuarios], [idSalaActual], [estado]) VALUES (10, 10, 1, N'Perdida')
INSERT [dbo].[Partidas] ([id], [idUsuarios], [idSalaActual], [estado]) VALUES (11, 11, 2, N'Perdida')
INSERT [dbo].[Partidas] ([id], [idUsuarios], [idSalaActual], [estado]) VALUES (12, 12, 2, N'En progreso')
SET IDENTITY_INSERT [dbo].[Partidas] OFF
GO
INSERT [dbo].[Salas] ([id], [nombre], [solucion], [pista], [imagen]) VALUES (1, N'Entrada', N'PUERTA', N'Tenés que reordenar las letras', N'Sala1.jpg')
INSERT [dbo].[Salas] ([id], [nombre], [solucion], [pista], [imagen]) VALUES (2, N'Sala2', N'363', N'Cantidad de cuadros', N'Sala2.png')
INSERT [dbo].[Salas] ([id], [nombre], [solucion], [pista], [imagen]) VALUES (3, N'Sala3', N'64', N'Calcula la secuencia numérica para el mes de Junio', N'Sala3.png')
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([id], [nombre]) VALUES (10, N'a')
INSERT [dbo].[Usuarios] ([id], [nombre]) VALUES (11, N'a')
INSERT [dbo].[Usuarios] ([id], [nombre]) VALUES (12, N'a')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
ALTER TABLE [dbo].[Partidas]  WITH CHECK ADD  CONSTRAINT [FK_Partidas_Salas] FOREIGN KEY([idSalaActual])
REFERENCES [dbo].[Salas] ([id])
GO
ALTER TABLE [dbo].[Partidas] CHECK CONSTRAINT [FK_Partidas_Salas]
GO
ALTER TABLE [dbo].[Partidas]  WITH CHECK ADD  CONSTRAINT [FK_Partidas_Usuarios] FOREIGN KEY([idUsuarios])
REFERENCES [dbo].[Usuarios] ([id])
GO
ALTER TABLE [dbo].[Partidas] CHECK CONSTRAINT [FK_Partidas_Usuarios]
GO
USE [master]
GO
